<section class="row text-center" ng-init="clicked=true">
    <div id="btnToOpenFormPseudo" ng-if="clicked">
        <button class="btn btn-success btn-lg" ng-click="displayForm()">Jouer</button>
    </div>
    <div id="formPseudo">
        <form>
            <div class="row">
                <input ng-model="Pseudo" class="col-sm-offset-5 col-sm-2" placeholder="Choisissez votre pseudo">
            </div>
            <div class="row">
                <button class="btn btn-success btn-sm col-sm-offset-5 reposition col-sm-2" ng-click="verifyPseudo()">Valider</button>
            </div>
        </form>
    </div>
</section>
