<div>
    <button style="display:none;" id="addClue" ng-click="showAddForm = !showAddForm">Ajouter un indice</button>
    <form ng-show="showAddForm">
        <input type="hidden" ng-value="parent_id">
        <div>
            <label for="label">Label</label>
            <input id="label" ng-model="label" name="label" type="text" required/>
        </div>
        <div>
            <label>Ordre de l'indice</label>
            <select name="position" ng-model="position">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button ng-click="addClue()">Valider</button>
    </form>

    <div ng-repeat="clue in clues">
        <span>{{clue.label}}</span>
        <button ng-click="showForm = !showForm"><i class="fa fa-cog" aria-hidden="true"></i></button>
        <form ng-show="showForm">
            <input type="hidden" value="{{clue.destination_id}}">
            <div>
                <label for="label">Label</label>
                <input id="label" ng-model="label" name="label" type="text" required/>
            </div>
            <div>
                <label>Ordre de l'indice</label>
                <select name="position" ng-model="position">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button ng-click="modifyClue()">Valider</button>
        </form>
        <button ng-click="deleteClue(clue)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
</div>
