<div>
    <button ng-click="showForm = !showForm">Ajouter un indice</button>
    <form ng-show="showForm">
        <p><label for="label">Label</label><input id="label" ng-model="label" name="label" type="text" required/></p>
        <label>Ordre de l'indice (1 étant l'indice le plus facile)</label>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button ng-click="addClue()">Valider</button>
    </form>
    <!-- <p ng-repeat="clue in clues">
        <a href="{{clue.url}}">{{destination.name}}</a>
        <button ng-click="showClues()">Afficher les indices</button>
        <button ng-click="deleteDestination(destination)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </p> -->
</div>
