<div>
    <div>
        <button ng-click="showForm = !showForm">Ajouter une destination</button>
        <form ng-show="showForm">
            <div>
                <label for="nom">Nom</label>
                <input id="nom" name="name" ng-model="name" type="text" required/>
            </div>
            <div>
                <label for="label">Label</label>
                <input id="label" name="label" ng-model="label" type="text" required/>
            </div>
            <div>
                <label for="latitude">Latitude</label>
                <input id="latitude" ng-model="latitude" name="latitude" type="text" required/>
            </div>
            <div>
                <label for="longitude">Longitude</label>
                <input id="longitude" ng-model="longitude" name="longitude" type="text" required/>
            </div>
            <button ng-click="addDestination()">Valider</button>
        </form>
        <div ng-repeat="destination in destinations">
            <span>{{destination.name}}</span>
            <span>{{destination.id}}</span>
            <button ng-click="showAllClues(destination)">Afficher les indices</button>
            <button ng-click="deleteDestination(destination)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>

    <div ng-controller="CluesController" id="clues">
        <h3>Indices</h3>
        <clues />
    </div>


</div>
